[project]
	description = A really simple web development environment using Vagrant.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matheus Araujo (mdentinho)
[access "refs/for/refs/*"]
	read = group user/Matheus Araujo (mdentinho)
	push = group user/Matheus Araujo (mdentinho)
	label-Code-Review = -2..+2 group user/Matheus Araujo (mdentinho)
	label-Verified = -1..+1 group user/Matheus Araujo (mdentinho)
	rebase = group user/Matheus Araujo (mdentinho)
	removeReviewer = group user/Matheus Araujo (mdentinho)
	submit = group user/Matheus Araujo (mdentinho)
[access "refs/heads/*"]
	read = group user/Matheus Araujo (mdentinho)
	create = group user/Matheus Araujo (mdentinho)
	push = +force group user/Matheus Araujo (mdentinho)
	pushMerge = group user/Matheus Araujo (mdentinho)
[access "refs/tags/*"]
	push = +force group user/Matheus Araujo (mdentinho)
	pushTag = group user/Matheus Araujo (mdentinho)
	pushSignedTag = group user/Matheus Araujo (mdentinho)
